.account-layout {

}

.listings-city {
    position: relative;
    background-color: black;
}

.content {
    padding: 70px 0;
}

.col-md-9 {
    border: 1px solid blue;
}

.account-menu h2 {
    font-weight: 700;
}


.account-menu a {
    display: block;
    font-size: 1.1rem;
    text-decoration: none;
}

.listings-city img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    opacity: .8;
}

.listing-city-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.listings-properties-container {
}

.listings-properties-item {
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    margin-bottom: 2rem;
    position: relative;
}

.listings-properties img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.listings-properties-saved {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #1b1b1b;
    background: white;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: all 2s ease-in-out;
    cursor: pointer;
}

.listings-properties-saved:hover, .listings-properties-saved--active {
    background: red;
    color: white;
}

.listing-properties-itemprice {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    margin-bottom: .5rem;
}

.listing-properties-itemdetails {
    font-size: 1.1rem;
    color: #7c8791;
    display: block;
    margin-bottom: .5rem;
}

.listing-properties-itemaddress {
    font-size: .9rem;
    margin-bottom: .5rem;
    display: block;
}

.listing-properties-itemline {
    background:  #7c8791;
    height: 1px;
}

.listing-properties-itemowner {
    font-size: .9rem;
}